# backups and logs
*.bak
*.log
*.tgz

# dependencies
node_modules/

# user data
bicial-*.json
*-settings.json

# spreadsheet data
*.csv
*.ods
*.xls
*.xlsx

# local caches
.env
.npm
.temp
.cache

# IDE settings
.vscode
.vscode-test

# OS junk
.DS_Store
Thumbs.db
